<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yzd.shardingJDBC.demo.dao.mapper.TbOrderMapper" >
  <resultMap id="BaseResultMap" type="com.yzd.shardingJDBC.demo.entity.TbOrder" >
    <id column="order_id" property="orderId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="o_create_time" property="oCreateTime" jdbcType="TIMESTAMP" />
    <result column="o_update_time" property="oUpdateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    order_id, user_id, o_create_time, o_update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from tb_order
    where order_id = #{orderId,jdbcType=BIGINT}
  </select>
  <insert id="insert" parameterType="com.yzd.shardingJDBC.demo.entity.TbOrder" useGeneratedKeys="true" keyProperty="orderId" >
    insert into tb_order (user_id, o_create_time, o_update_time
      )
    values (#{userId,jdbcType=BIGINT}, #{oCreateTime,jdbcType=TIMESTAMP}, #{oUpdateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yzd.shardingJDBC.demo.entity.TbOrder" useGeneratedKeys="true" keyProperty="orderId" >
    insert into tb_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="oCreateTime != null" >
        o_create_time,
      </if>
      <if test="oUpdateTime != null" >
        o_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="oCreateTime != null" >
        #{oCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="oUpdateTime != null" >
        #{oUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yzd.shardingJDBC.demo.entity.TbOrder" >
    update tb_order
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="oCreateTime != null" >
        o_create_time = #{oCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="oUpdateTime != null" >
        o_update_time = #{oUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yzd.shardingJDBC.demo.entity.TbOrder" >
    update tb_order
    set user_id = #{userId,jdbcType=BIGINT},
      o_create_time = #{oCreateTime,jdbcType=TIMESTAMP},
      o_update_time = #{oUpdateTime,jdbcType=TIMESTAMP}
    where order_id = #{orderId,jdbcType=BIGINT}
  </update>
  <!--================================================== 分割线 ==================================================-->
  <update id="createTbOrderIfNotExistsTable">
    CREATE TABLE IF NOT EXISTS tb_order
      (
         order_id             bigint                         not null,
         user_id              bigint                         null,
         o_create_time        datetime                       null,
         o_update_time        datetime                       null,
         constraint PK_TB_ORDER primary key clustered (order_id)
      )ENGINE=InnoDB DEFAULT CHARSET=utf8;
  </update>
  <!--IN操作方式一：直接使用变量的方式，shardingJDBC是无法解析，preciseShardingValue的值是字符串类型-->
  <select id="selectForIn1" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from tb_order
    where order_id IN (${orderIdList})
  </select>
  <!--IN操作方式二：直接使用foreach的方式，shardingJDBC是可以正常解析，preciseShardingValue的值是Long类型-->
  <select id="selectForIn2" resultMap="BaseResultMap" parameterType="java.util.Map">
    select
    <include refid="Base_Column_List"/>
    from tb_order
    where order_id IN
    <foreach collection="orderIdList" index="index" item="orderId" open="(" separator="," close=")">
      #{orderId}
    </foreach>
  </select>
  <select id="selectForBetween" resultMap="BaseResultMap" parameterType="java.util.Map">
    select
    <include refid="Base_Column_List"/>
    from tb_order
    where order_id BETWEEN  #{beginVal} AND #{endVal}
  </select>
  <!--直接把分片信息[where order_id BETWEEN 1 and 215876039572717568]写在mapper中报两种错误-->
  <!--错误1：发生integer 不能转为Long的异常-->
  <!--错误2：发生Long 不能转为integer的异常-->
  <!--解决方法：通过变量进行传值就可以了-->
  <select id="selectSelective" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from tb_order
    where order_id BETWEEN 1 and 215876039572717568
  </select>
  <!--order_id >1 and order_id <= 215876039572717568  shardingJDBC路由是不支持的无法正常解析-->
  <!--order_id BETWEEN  #{beginVal} AND #{endVal}  shardingJDBC路由是可以正常解析-->
  <select id="selectWhere" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from tb_order
    <![CDATA[
    where order_id >1 and order_id <= 215876039572717568 and order_id BETWEEN  #{beginVal} AND #{endVal}
    ]]>
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from tb_order
  </select>
</mapper>